$color_1: white;
$color_2: #ffffff;
$color_3: #2d2d2d;
$font_family_1: -apple-system, "Open Sans", “Segoe UI”, Roboto,
Oxygen-Sans, Ubuntu, Cantarell, “Helvetica Neue”, sans-serif;
$background_color_1: #fff;
$background_color_2: #fc9f97;

.headerstrip-wrapper {
  height: 50px;
  position: relative;
  .headerstrip__banner-dismiss {
    width: 12px;
    height: 12px;
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    font: inherit;
    line-height: 0;
    cursor: pointer;
    outline: inherit;
    opacity: 0.4;
    color: $color_1;
    text-decoration: none;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
    right: 20px;
    top: 20px;
    z-index: 2;
    &:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }
}
.headerstrip {
  display: block;
  height: 50px;
  font-family: $font_family_1;
  font-size: 14px;
  position: relative;
  text-decoration: none;
  z-index: 1;
  .headerstrip-content-background {
    background-color: $background_color_1;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2930b4;
    background: -webkit-linear-gradient(left, #2930b4, #2a9eb0);
    background: linear-gradient(to right, #2930b4, #2a9eb0);
    background-repeat: repeat-x;
  }
  .headerstrip-canvas {
    height: 50px;
    margin: auto auto;
  }
  .headerstrip-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 1000px 50px;
    width: 100%;
    height: 50px;
    max-width: 1408px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
  .headerstrip-text {
    color: $color_2;
    text-decoration: none;
    padding-right: 24px;
    font-weight: 200;
    letter-spacing: 0.8px;
    position: relative;
    strong {
      font-weight: 700;
    }
  }
  .headerstrip-cta-container {
    display: flex;
  }
  .headerstrip-cta {
    cursor: pointer;
    position: relative;
    background-color: $background_color_2;
    padding: 5px 30px;
    color: $color_3;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    min-width: 100px;
  }
  .headerstrip-cta-mobile {
    color: $color_2;
    text-decoration: underline;
    padding-left: 5px;
    &:hover {
      color: $color_2;
    }
  }
  .is-hidden-desktop {
    .headerstrip-content {
      text-align: center;
    }
    .headerstrip-text {
      position: relative;
      padding-right: 24px;
    }
    .headerstrip__banner-dismiss {
      margin-left: 0;
    }
  }
  .headerstrip__dismiss-icon {
    width: 12px;
    height: 12px;
    fill: #ffffff;
    display: inline-block;
  }
}
@media (max-width: 1024px) {
  .headerstrip {
    .is-hidden-tablet-and-below {
      display: none !important;
    }
  }
}
@media (min-width: 1025px) {
  .headerstrip {
    .is-hidden-desktop {
      display: none !important;
    }
  }
}
