.theme {
  &--top {
    background-color: #fff;
    border-radius: 0.5rem;
  }
  &--action {
    button {
      background-color: #f96666;
      border: none;
      border-radius: 0.5rem;
      color: #fff;
      cursor: pointer;
      font-size: 0.9rem;
      padding: 0.5rem 1.5rem;

      &:hover, &:focus, &:active, &:visited {
        background-color: #ff0000;
        box-shadow: none;
        outline: 0;
        transition: all 0.5s ease;
      }
    }
  }
  &--title {
    span {
      font-size: 0.875rem;
      font-weight: 600;
    }
  }
  &--body {
    .form_group {
      label {
        font-size: 0.875rem;
        text-transform: uppercase;
      }
      small {
        font-size: 0.75rem;
        text-transform: none;
      }
      textarea {
        min-height: 100px;
        max-height: 120px;
        min-width: 100%;
        max-width: 100%;
      }
      input, textarea {
        background-color: #F5F5F5;
        font-size: 0.9rem;
        &:hover, &:active, &:visited, &:focus {
          box-shadow: none;
          outline: 0;
        }
      }
    }
    .text--error {
      color: #f96666;
      font-size: 0.875rem;
    }
    &-cate {
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
    }
  }
  &--footer {
    .btn--cancel {
      background-color: #f96666;
      border: none;
      border-radius: 0.5rem;
      color: #fff;
      cursor: pointer;
      font-size: 0.9rem;
      padding: 0.5rem 1.5rem;
      &:hover, &:focus, &:active, &:visited {
        background-color: #ff0000;
        box-shadow: none;
        outline: 0;
        transition: all  0.5s ease;
      }
    }
    .btn--submit {
      background-color: #f96666;
      border: none;
      border-radius: 0.5rem;
      color: #fff;
      cursor: pointer;
      font-size: 0.9rem;
      padding: 0.5rem 1.5rem;
      &:hover, &:focus, &:active, &:visited {
        background-color: #ff0000;
        box-shadow: none;
        outline: 0;
        transition: all  0.5s ease;
      }
    }
  }
}

.post--data {
  font-size: 0.875rem;
  .col {
    &:hover {
      .sort {
        padding: .25rem .5rem;
        svg {
          opacity: 1;
        }
      }
    }
    .active {
      padding: .25rem .5rem !important;
      svg {
        opacity: 1 !important;
      }
    }
    .sort {
      border-radius: .5rem;
      cursor: pointer;
      padding: .25rem 0;
      transition: all .4s ease;
      svg {
        opacity: 0;
        stroke-width: .5;
        stroke: #444;
        transform: scale(1);
        transition: all .4s ease;
        vertical-align: middle;
      }
      .descending {
        transform: rotate(180deg) scale(1);
        margin-top: -5px;
      }
    }
  }
  .col--checkbox {
    height: 20px;
    width: calc(20px + 1rem);
  }
  .col--name {
    width: 35%;
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .col--key {
    width: 30%;
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .col--category {
    width: 25%;
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .col--action {
    width: 25%;
    text-align: center;
    svg {
      color: #999;
      cursor: pointer;
      transition: all 0.4s ease;
      &:hover {
        color: #ed1c24;
      }
    }
  }
  .col--image {
    width: 38%;
  }
  
  .data--empty {
    color: #999999;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .item--header {
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #666666;
    height: 48px;
  }
  .item--body {
    min-height: 48px;
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .image--wrap {
    border-radius: 5px;
    overflow: hidden;
    width: 40px;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    &-more,
    img {
      position: absolute;
      width: 100%;
    }
    img {
      height: auto;
      left: 50%;
      max-width: none;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &-more {
      background-color: #e4e4e4;
      color: #999999;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  
}
.search--bar--div {
  background: white;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.search--icon {
  margin-top: 5px;
  margin-left: 5px;
}
.search--input {
  border: none;
  overflow: visible;
  font-size: 0.875rem;
  margin-left: 10px;
  
}
.search--input:focus {
  outline: none;
}
