/* Color default */

// BACKGROUND
$mainDefault: #ffffff;
$secondaryFocus: #fafafa;
$mainDark: #27292d;
$mainDarkLight: #27292c;
$mainBrandColor: #ffb94a;

// BUTTON

$orange: #ffb94a;
$red: #ff0000;
$blue: #43d627;
$black: #27292d;
$blackLight: #444444;
$blackGreen: #27292c;
$grayLight: #dddddd; 

// TEXT 

$color-dark: #ffffff;
$color-light: #444;
$color-dark-1: #ccc;
$color-dark-2: #666;
$color-dark-3: #999;
$color-active: #ffb94a;

//BORDER

$border-color-light: #666;
$border-color-light-1: #707070;
$border-color: #e4e4e4;
$border-color-green: #43d627;
$border-color-active: #ffb94a;


