.wrapper {
  background-color: rgba(255, 248, 230, 0.7);
  min-height: 100vh;
  .container {
    width: 100%;
  }
  .w--100 {
    width: 100%;
  }
  .wrapper--logo {
    top: 1.5rem;
    left: 5rem;
  }
  .wrapper--content {
    .wrapper--bg {
      height: 100vh;
      padding: 3.5rem 0 3.5rem 5rem;
      .bg--image {
        width: 90%;
      }
    }
    .wrapper--main {
      padding: 3.5rem 10rem 3.5rem 0;
      .alert--error {
        background-color: rgba(255, 112, 105, 0.1);
        border-radius: 0.5rem;
        color: #ff3333;
        font-size: 0.95rem;
        padding: 0.75rem;
      }
      .alert--success {
        background-color: #d4edda;
        border-radius: 0.5rem;
        color: #1c9038;
        font-size: 0.95rem;
        padding: 0.75rem;
      }
      .main--header {
        .title {
          font-size: 3rem;
          font-weight: 600;
        }
      }
      .main--body {
        .form--group {
          .form--card {
            background-color: #fff;
            border-bottom: 2px solid transparent;
            padding: 0.75rem 0;
            transition: all 0.4s ease;
            &:first-child {
              border-radius: 0.5rem 0.5rem 0 0;
            }
            &:last-child {
              border-radius: 0 0 0.5rem 0.5rem;
            }
            &:hover {
              background-color: #f7f7f7;
              .form--control {
                .form--input {
                  &:-webkit-autofill,
                  &:-webkit-autofill:hover,
                  &:-webkit-autofill:focus,
                  &:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 30px #F7F7F7 inset !important;
                  }
                }
              }
            }
            &:focus-within {
              border-bottom: 2px solid #FFB94A;
              .form--control {
                .desc {
                  color: #FFB94A;
                  font-weight: 600;
                }
              }
            }
            .form--icon {
              width: 26px;
              svg {
                color: #bbb;
                vertical-align: middle;
              }
              .icon--envelope {
                vertical-align: middle;
              }
              .icon--lock {
                color: #bbb;
                margin-left: 2px;
              }
              .icon--phone {
                stroke: #bbb;
                stroke-width: 0.2;
              }
              .icon--security {
                stroke: #bbb;
                stroke-width: 0.4;
                margin-left: 2px;
              }
              .icon--user {
                stroke: #bbb;
                stroke-width: 0.2;
              }
            }
            .form--control {
              flex: 1;
              .desc {
                color: #999;
                font-size: 0.875rem;
                transition: all 0.4s ease;
              }
              .form--input {
                background-color: transparent !important;
                border: 0;
                color: #444;
                outline: 0;
                transition: all 0.4s ease;
                width: 100%;
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active {
                  -webkit-box-shadow: 0 0 0 30px white inset !important;
                }
                &::placeholder {
                  color: #ccc;
                  font-size: 0.875rem;
                }
              }
            }
            .form--validate {
              .icon--attention {
                color: #ff3333;
                &:hover {
                  &~.tooltip--error {
                    display: block;
                  }
                }
              }
              .icon--check {
                color: #FFB94A;
              }
              .icon--eye {
                color: #999;
                transition: all 0.4s ease;
                vertical-align: middle;
                &:hover {
                  color: #666;
                }
              }
              .tooltip--error {
                background-color: #F96666;
                border-radius: 0.2rem;
                box-shadow: 0 0 4px rgba(0, 0, 0, .1);
                color: #fff;
                display: none;
                font-size: 0.875rem;
                padding: 0 0.5rem;
                right: 0;
                top: 0;
                transition: all 0.8s ease;
              }
            }
          }
        }
        .text--forgot {
          color: #999;
          font-size: 0.825rem;
        }
        .btn--group {
          .btn--control {
            border: 0;
            border-radius: 1.5rem;
            box-shadow: none;
            cursor: pointer;
            font-weight: 600;
            outline: 0;
            padding: 0.75rem 0;
            text-align: center;
            transition: all 0.4s ease;
            width: 120px;
            &:hover {
              box-shadow: 0 0 4px rgba(255, 158, 74, 0.4);
            }
          }
          .btn--orange {
            background-color: #ffb94a;
            color: #fff;
            &:hover,
            &:focus {
              background-color: #ff9e4a;
            }
          }
          .btn--white {
            background-color: #fff;
            color: #666;
            text-decoration: none;
            &:hover,
            &:focus {
              color: #ff9e4a;
            }
          }
        }
      }
    }
  }
}

/* Responsive */
@media (min-width: 1366px) {
  .d_xxl_block {
    display: block !important;
  }
  .d_xxl_none {
    display: none !important;
  }
}

@media only screen and (max-width: 1900px) {
  .wrapper {
    .wrapper--content {
      .wrapper--main {
        padding: 3.5rem 7rem 3.5rem 0;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .wrapper {
    .wrapper--content {
      .wrapper--main {
        padding: 3.5rem 5rem 3.5rem 0;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .wrapper {
    .wrapper--content {
      .wrapper--bg {
        .bg--image {
          width: 90%;
        }
      }
      .wrapper--main {
        font-size: 0.875rem;
        .main--header {
          .title {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    .wrapper--content {
      .wrapper--bg {
        padding: 3.5rem 0 3.5rem 3.5rem;
        .bg--image {
          width: 86%;
        }
      }
      .wrapper--main {
        padding: 3.5rem 3.5rem 3.5rem 0;
        .main--header {
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .wrapper {
    display: flex;
    align-items: center;
    .wrapper--bg {
      display: none;
    }
    .wrapper--content {
      .wrapper--main {
        padding: 0 4rem;
        .main--header {
          .title {
            text-align: center;
          }
          .desc {
            display: none;
          }
        }
        .main--body {
          .btn--group {
            justify-content: center;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    .wrapper--content {
      .wrapper--main {
        padding: 0 2rem;
        .main--body {
          .btn--group {
            .btn--control {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
