$table-header: #ffb94a;
$table-header-border: #fff6f4;
$table-border: #d9d9d9;
$row-bg: #ccc6;
$row-color: #666;
$row-bg-hover: #ccc;
$row-color-hover: #fff;

.table-container {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100%;
}
.body{
  border: 1px solid #ccc;
  padding-bottom: 5px;
}
.header{
  .title{
    flex: 1;
    text-align: center;
    padding: 7px 0;
    background: #ffb94a;
    border-right: 1px solid #ccc;
    &:last-child {
      border-right: 0;
    }
  }
}
.list {
  color: #666666;
  .link {
    border: 1px solid #e4e4e4;
    border-radius: 0.625rem;
    color: #444444;
    cursor: pointer;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    &:hover,
    &:active,
    &:visited,
    &:focus {
      text-decoration: none;
      border-color: #ffb94a;
      transition: all 0.5s ease;
    }
  }
}
