.modal--wrapper {
  background-color: rgba(37, 47, 51, 0.8);
  font-family: "Open Sans", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  transition: 1s ease-in-out;
  .modal--dialog {
    width: 100%;
    height: 100%;
  }
  .modal--content {
    background: #ffffff;
    border-radius: 7px;
    box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.12);
    padding: 41px 86px;
    width: 500px;
    transition: 1s ease-in-out;
  }
  .modal--header {
    .modal--title {
      color: #1d2124;
      font-size: 26px;
      font-weight: 600;
      margin-top: 10px;
    }
  }
  .modal--body {
    padding: 0 30px;
    .modal--desc {
      font-size: 14px;
      font-weight: 700;
      margin: 15px 0 27px 0;
    }
  }
  .modal--footer {
    padding: 0 30px;
    font-size: 14px;
    .btn--modal {
      border-radius: 10px;
      border: 1px solid #ffb94a;
      cursor: pointer;
      font-weight: 700;
      height: 40px;
      text-transform: uppercase;
      transition: all 0.4s ease;
      outline: none;
      width: 120px;
    }
    .btn-add {
      border: 0;
      background-color: #ffb94a;
      color: #ffffff;
      &:hover, &:focus, &:active {
        background-color: #f2ad3f;
      }
    }
    .btn-skip {
      background-color: transparent;
      color: #ffb94a;
    }
  }

  //Drop Zone
  .zone {
    color: #1b1e21;
    input[type="file"] {
      color: #1b1e21;
    }
  }
}

//CHANGE BACKGROUND COLOR THEME

//LIGHT

.modal--wrapper[data-theme="light"] {
  .modal--content {
    background: #ffffff;
  }
  .modal--desc {
    color: #1b1e21;
  }
}

//DARK

.modal--wrapper[data-theme="dark"] {
  .modal--content {
    background: #27292d;
  }
  .modal--desc {
    color: #cccccc;
  }
}
