.session {
  .card {
    background-color: #fff;
    border-color: #ebebeb;
    border-radius: 0.625rem;
    font-size: 0.95rem;
    width: 460px;
    height: 560px;
    .card--body {
      .alert--error {
        background-color: rgba(255, 112, 105, 0.1);
        border-radius: 0.5rem;
        color: #ff3333;
        font-size: 0.95rem;
        padding: 0.75rem;
      }
      .title {
        font-size: 1.5rem;
        font-weight: 600;
      }
      .form--wrap {
        .form_group {
          .form_control {
            border: 0;
            border-bottom: 1px solid #e4e4e4;
            border-radius: 0;
            font-size: 0.95rem;
            font-weight: 600;
            padding: 0.75rem 0.75rem 0.75rem 2rem !important;
            transition: all 0.4s ease;
            &::placeholder {
              color: #ccc;
              font-size: 0.875rem;
              font-weight: normal;
            }
            &:active,
            &:hover,
            &:focus {
              border-color: #FFB94A;
              box-shadow: none;
              outline: 0;
            }
            &.error {
              border-color: #F96666;
            }
          }
          .icon {
            top: 8px;
            .icon--envelope {
              color: #999;
            }
          }
        }
        .text--error {
          color: #ff3333;
          font-size: 0.825rem;
        }
      }
    }
    .card--footer {
      .btn--submit {
        background-color: #FFB94A;
        border-radius: 0.625rem;
        color: #fff;
        cursor: pointer;
        font-weight: 600;
        padding: 0.5rem 0.75rem;
        transition: all 0.4s ease;
        &:hover {
          background-color: #FF9E4A;
        }
      }
      .link--custom {
        color: #FFB94A;
        font-size: 0.875rem;
        text-transform: uppercase;
      }
    }
  }
  .footer {
    .link--group {
      &-item {
        color: #999;
        font-size: 0.825rem;
        font-weight: 600;
        text-decoration: none;
        opacity: 0.8;
        transition: all 0.4s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

/* Responsive */
@media screen and (max-width: 576px) {
  .session {
    padding: 1rem 0;
    .card {
      border: 0;
      padding: 0 1rem!important;
      font-size: 0.875rem;
      width: 100%;
      height: auto;
    }
    .footer {
      .link--group {
        &-item {
          font-size: 0.8rem;
        }
      }
    }
  }
}
