$table-header: #ffb94a;
$table-header-border: #fff6f4;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;

.modal--wrapper {
  background-color: rgba(153, 153, 153, 0.4);
  bottom: 0;
  font-family: "Open Sans", sans-serif;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  .modal--dialog {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    .modal--content {
      background-color: #fafafa;
      border-radius: .625rem;
      max-height: calc( 100vh - 10% );
      width: 60%;
      .body {
        input {
          &:hover, &:focus, &:active, &:visited {
            box-shadow: none;
            outline: 0;
            border-color: #e4e4e4;
          }
        }
        .post {
          max-height: 350px;
          overflow-y: auto;
          overflow-x: hidden;
          border: 1px solid #e4e4e4;
          border-radius: .625rem;
        }
      }
      .footer {
        button {
          color: #ffffff;
          &:hover, &:focus, &:active, &:visited {
            box-shadow: none;
            outline: 0;
          }
        }
      }
    }
  }
}

/*Transition popup*/
.popup-enter-active, .popup-leave-active {
  transition: opacity 1s;
}
.popup-enter, .popup-leave-to {
  opacity: 0;
}
.table-container {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100%;
  .no--post{
    background: #cccccc3b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-left: solid 1px $table-border;
  transition: 0.5s;
  &:first-of-type {
    border-top: solid 1px $table-header-border;
    border-left: solid 1px $table-header-border;
  }
  &:first-of-type .flex-row {
    background: $table-header;
    color: #444444;
    border-color: $table-header-border;
  }
  &.row:nth-child(odd) .flex-row {
    background: $row-bg;
  }
  &:hover {
    background: #F5F5F5;
    transition: 500ms;
  }
  .flex-row {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5em 0.5em;
    border-right: solid 1px $table-border;
    border-bottom: solid 1px $table-border;
  }
  .content, .first {
    width: 40%;
  }
  .action {
    width: 20%;
    .custom--checkbox {
      input[type="checkbox"] {
        border-radius: 6px;
        border: solid 1.5px #cccccc;
        cursor: pointer;
        height: 20px;
        outline: none;
        width: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:checked {
          background-color: #ffb94a;
          border: solid 1px #ffb94a;
          &:before {
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            content: "";
            display: block;
            height: 10px;
            position: relative;
            left: 50%;
            top: 42%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 7px;
          }
        }
      }
    }
  }
}
