.modal--wrapper {
  // background-color: rgba(153, 153, 153, 0.5);
  height: 100vh;
  left: 0;
  max-height: 100vh;
  top: 0;
  width: 100vw;
  z-index: 1050;
  .modal--content {
    background-color: #ffffff;
    border-radius: 8px;
    width: 60%;
  }
  .modal--header {
    border-bottom: 1px solid #f1f1f1;
    color: #646464;
    font-size: 16px;
    font-weight: 600;
  }
  .avatar--content {
    border: 1px solid #f7f7f7;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    width: 64px;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    &.avatar--img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &.avatar--default {
      background-color: #f7f7f7;
      color: #ffb94a;
      font-size: 32px;
      font-weight: 600;
      span {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
      }
    }
  }
  .user--info {
    .user--info-name {
      color: #666;
      font-size: 16px;
      font-weight: bold;
    }
    .user--info-status {
      color: #ffb94a;
    }
    .user--info-time {
      font-weight: normal;
      color: #999;
      font-size: .825rem;
    }
  }

  .icon--edit {
    color: #ffb94a;
    cursor: pointer;
  }
  .icon--close {
    color: #ccc;
    cursor: pointer;
  }
  .info--detail {
    color: #7e7e7e;
    font-size: 16px;
    .info--desc {
      font-weight: 600;
    }
    .info--history {
      color: #aaaaaa;
      font-size: 14px;
    }
    .info--mail {
      svg {
        color: yellow;
      }
    }
  }
}

/*Transition popup*/
.popup-enter-active, .popup-leave-active {
  transition: opacity 1s;
}
.popup-enter, .popup-leave-to {
  opacity: 0;
}
