.alert {
  font-size: 14px;
  padding: .375rem .5rem;
}

.list {
  .card {
    border-radius: 10px !important;
    &--header {
      svg {
        cursor: pointer;
      }
    }
  }
  .addItem {
    min-height: 300px;
    margin-bottom: 30px;
    .disabled {
      opacity: .6 !important;
    }
    .card {
      height: 100%;
      background: #ffffff;
      cursor: pointer;
      .item--content {
        // margin-top: 45%;
        .icon--add {
          color: #FFB94A;
        }
        p {
          margin-top: 20px;
          font-size: 15px;
          color: #FFB94A;
        }
      }
      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      }

    }
  }
  .item {
    min-height: 300px;
    margin-bottom: 30px;
    .card {
      border-radius: 5px;
      height: 100%;
      background: #ffffff;
      .card_body {
        padding: .75rem 1rem !important;
        .card--header {
          text-align: right;
          padding: .25rem 0 0 0;
        }
        .card--content {
          margin-top: 1rem;
          text-align: center;
          margin-bottom: 3rem !important;
          .avatar {
            width: 70px;
            height: 70px;
            position: relative;
            margin: 0px auto;
            .picture {
              width: 70px;
              height: 70px;
              border-radius: 100%;
            }
            .status {
              position: absolute;
              bottom: 0px;
              right: 0px;
              width: 18px;
              height: 18px;
              border-radius: 100%;
            }
            .active {
              background-color: #43D627;
            }
            .disabled {
              background-color: #ccc;
            }
          }
          .name {
            font-size: 18px;
            margin: 10px 0px;
            color: #000000;
            font-weight: 700;
          }
          .btn--connect {
            margin-top: 10px;
            color: #43D627;
            border: 1px solid #43D627;
            border-radius: 10px;
            font-size: 15px;
            padding: 8px 15px;
          }
          .btn--update {
            margin-top: 10px;
            color: #ffb94a;
            border: 1px solid #ffb94a;
            border-radius: 10px;
            font-size: 15px;
            padding: 8px 15px;
          }
          .btn--disconnect {
            color: #444444;
            margin-top: 10px;
            border: 1px solid #999999;
            border-radius: 10px;
            font-size: 15px;
            padding: 8px 15px;
          }
        }
        .card--footer {
          p {
            margin-bottom: 0px;
            font-size: 14px;
          }
          .left {
            float: left
          }
          .right {
            float: right;
          }
          margin-bottom:0px;
        }
      }
      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      }
    }
  }
}

.modal--wrapper {
  //background-color: rgba(153, 153, 153, 0.4);
  font-family: "Open Sans", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  .modal--dialog {
    width: 100%;
    height: 100%;
  }
  .modal--content {
    width: 440px;
    border-radius: 10px;
  }
  .modal--body {
    padding: 0 30px;
    .error--title {
      font-size: 20px;
      font-weight: 600;
      color: #F96666;
      text-align: left;
    }
    .error--desc {
      font-size: 14px;
      text-align: left;
    }
    .modal--title {
      font-size: 26px;
      font-weight: 700;
      margin-top: 10px;
    }
    .modal--desc {
      font-size: 14px;
      color: #999999;
      margin: 15px 0 20px 0;
    }
    textarea {
      width: 100%;
      height: 164px;
      padding: 15px 20px;
      border-radius: 10px;
      font-size: 14px;
      border: 0;
      resize: none;
      outline: none;
    }
    .alert {
      background-color: #ccc;
      border-radius: .5rem;
      color: #ff0000;
      span {
        font-weight: 700;

      }
    }
  }
  .modal--footer {
    padding: 20px 30px 30px 30px;
    font-size: 14px;
    .btn-add {
      padding: .5rem .75rem;
      border-radius: 10px;
      background-color: #ffb94a;
      border: 1px solid #ffb94a;
      font-weight: 600;
      color: #fff;
      transition: all 0.4s ease;
      cursor: pointer;
      outline: none;
      &:hover {
        background-color: #FF9E4A;
      }
    }
    .btn-skip {
      padding: .5rem .75rem;
      border-radius: 10px;
      background-color: transparent;
      border: 0;
      color: #999;
      font-weight: 600;
      cursor: pointer;
      outline: none;
    }
  }
}


/*Transition popup*/

//.popup-enter {
//  transform: translateY(-100%);
//}
//
//.popup-enter-to {
//  transition: transform 0.75s;
//  transform: translateY(0);
//}
//
//.popup-leave-to {
//  transition: transform 0.75s;
//  transform: translateY(-100%);
//}

.popup-enter-active, .popup-leave-active {
  transition: opacity .5s;
}
.popup-enter, .popup-leave-to {
  opacity: 0;
}

/* ChangeColor */

// Light
.modal--wrapper[data-theme="light"] {
  color: #444444;
  .modal--header {
    color: #fff;
  }
  .modal--content {
    background-color: #fff;
    textarea {
      color: #444444;
      background-color: #f7f7f7;
      &::placeholder {
        color: #cccccc;
      }
    }
    .modal--body {
      .error--desc {
        color: #444;
      }
    }
    .modal--footer {
      .btn-skip {
        &:hover {
          background-color: #f7f7f7;
        }
      }
    }
  }
}

//Dark
.modal--wrapper[data-theme="dark"] {
  color: #f7f7f7;
  .modal--header {
    color: #27292d;
  }
  .modal--content {
    background-color: #27292d;
    textarea {
      color: #f7f7f7;
      background-color: #2f3136;
      &::placeholder {
        color: #666;
      }
    }
    .modal--body {
      .error--desc {
        color: #f7f7f7;
      }
    }
    .modal--footer {
      .btn-skip {
        &:hover {
          background-color: #2f3136;
        }
      }
    }
  }
}

//Light
.main[data-theme="light"] {
  .addItem {
    svg {
      fill: #FFB94A;
    }
    p {
      color: #FFB94A;
    }
  }
  .card {
    background: #fff;
    border-color: #fff;
    .card--content {
      .avatar {
        .status {
          border: 2px solid #ffffff;
        }
      }
    }
  }
  .item--content {
    p {
      color: #FFB94A;
    }
  }
  .item {
    .name {
      color: #000;
    }
    .btn--connect {
      color: #FFB94A;
      border: 1px solid #FFB94A;
    }
    .btn--disconnect {
      color: #666666;
      border: 1px solid #CCCCCC;
    }
  }
}

//Dark
.main[data-theme="dark"] {
  .addItem {
    p {
      color: #FFB94A;
    }
  }
  .card {
    background: #27292D;
    .card--content {
      .avatar {
        .status {
          border: 2px solid #27292D;
        }
      }
    }
  }
  .item--content {
    p {
      color: #FFB94A;
    }
  }
  .item {
    .name {
      color: #ffffff !important;
      font-weight: 700;
    }
    .btn--connect {
      color: #FFB94A;
      border: 1px solid #FFB94A;
    }
    .btn--disconnect {
      color: #CCCCCC !important;
      border: 1px solid #999999;
    }
  }
}
