$table-header: #ffb94a;
$table-header-border: #fff6f4;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;
.create {
  .multi {
    border: 1px solid #e4e4e4;
    border-radius: .625rem;
  }
  label {
    font-weight: 600;
  }
}
.list {
    .item--list-header {
      background: #ffb94a;
      color: #fff;
    }
    .item--list-content {
      padding: 0.325rem 0;
      transition: 0.4s;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        background: #e9e9ec;
        color: #2f3236;
      }
    }
    .content {
      border: 1px solid #ccc;
    }
    .header {
      border: 0;
      &.creator {
        border: 0;
      }
    }
    .title {
      flex: 2;
      border-right: 1px solid #ccc;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      white-space: nowrap;
    }
    .cate--parent, .updator,
    .creator {
      flex: 1;
      border-right: 1px solid #ccc;
      // border-left: 0;
    }
    .creator,.updator,
    .action {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      white-space: nowrap;
    }
  }


  // ============= RESPONSIVE =============

@media screen and (max-width: 1160px){
  .list {
    .updator{
      display: none;
    }
  }
}

@media screen and (max-width: 1030px){
  .list {
    .title{
      flex: 1;
    }
    .creator{
      display: none;
    }
  }
}