.search {
  background-color: #ffb94a;
  background-image:url("https://assets.shopfront.envato-static.com/assets/images/bg-page-section-light.png");
  color: white;
  .form--search {
    width: 50%;
    height: 60px;
  }
  .icon--search {
    color: hsl(0, 0%, 60%);
    height: 60px;
    right: 0;
    transition: all 0.4s ease;
    &:hover {
      color: #777;
    }

  }
  input {
    width: 100%;
    border-radius: .625rem;
    border: 1px solid transparent;
    font-size: 1rem;
    height: 60px;
    padding-left: 1rem;
    transition: all .4s ease;
    &:active,
    &:focus,
    &:hover,
    &:visited {
      border: 1px solid #e4e4e4;
      box-shadow: none;
      outline: 0;
    }
    &::placeholder {
      color: #cccccc;
      font-weight: normal;
    }
  }
}

.describe {
  .title {
    color: #253858;
    font-weight: 600;
    font-size: 2rem;
  }
}

.tab {
  .campaigns {
    cursor: not-allowed;
    opacity: .5;
  }
}

.popular {
  .card {
    border-radius: .375rem;
    border: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
  }
}
.thumbnail {
  cursor: pointer;
  height: 200px;
  width: 100%;
  .thumbnail--bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 100%;
    width: 100%;
  }
  .icon {
    bottom :1rem;
    right: 1rem;
    .uncheck {}
    .check {
      svg {
        fill: #ffb94a;
        color: #ffb94a;
      }
    }
  }
}

.desc {
  h4 {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: hsl(0, 0%, 30%);
    font-size: 1rem;
    font-weight: 700;
    transition: all .4s ease;
    &:hover {
      color: #FFB94A;
    }
  }
  .editor {
    font-size: calc(1rem - 3px);
    .name {
      font-weight: 600;
      span {
        font-style: italic;
        font-weight: 500;
      }
    }
  }
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.info {
  .left {
    .price {
      color: hsl(0, 0%, 30%);
      font-size: 0.875rem;
      .free {
        font-weight: 500;
        font-style: italic;
        font-size: .875rem;
        color: #32cc55;
      }
    }
    .sales {
      font-size: .875rem;
    }
  }
  .right {
    .der_1 {
      cursor: pointer;
      height: 40px;
      line-height: 40px;
      border: 1px solid #e4e4e4;
      border-radius: .625rem;
      padding: 0 1rem;
    }
    .action {
      font-size: .875rem;
      font-weight: 600;
      &:hover, &:focus {
        background-color: #ffb94a;
        color: #fff;
        transition: all .75s  ease;
      }
    }
    .icon {
      padding: 0 .625rem;
      &:hover, &:focus {
        background-color: #ffb94a;
        transition: all .75s  ease;
      }
      svg {
        margin-bottom: -5px;
      }
    }
  }
}
.marketing--section {
  .marketing--section-image {
    background-size: 300px 130px;
    min-height: 130px;
  }
    .title {
      font-size: 1.25rem;
    }

}
.join {
  background-color: #fff;
  background-position: bottom left , bottom right;
  background-repeat: no-repeat , no-repeat;
  background-size: 540px 350px , 600px 350px;
  min-height: 350px;
  .background--join {
    .desc {
      color: #253858;
      font-weight: 600;
      font-size: 2rem;
    }
    .signup {
      background-color: #ffb94a;
      color: #ffffff;
      border: 1px solid #ffb94a;
      border-radius: .625rem;
      cursor: pointer;
      padding: .625rem 1.5rem;
      &:hover, &:focus {
        background-color: transparent;
        border-color: #e4e4e4;
        color: #444444;
        transition: all .5s ease;
      }
    }
  }
}
