.modal--wrapper {
  // background-color: rgba(153, 153, 153, 0.5);
  max-height: 100vh;
  left: 0;
  height: 100vh;
  top: 0;
  width: 100%;
  z-index: 1050;
  .modal--content {
    background-color: #ffffff;
    border-radius: 8px;
    width: 600px;
  }
  .modal--header {
    border-bottom: 1px solid #f1f1f1;
    color: #666;
    font-size: 16px;
    font-weight: 600;
  }
  .modal--footer {
    button {
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 10px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      outline: none;
      padding: .375rem .75rem;
      transition: all 0.4s ease;
      &.btn-cancel {
        color: #aaaaaa;
        &:hover {
          border-color: #aaaaaa;
        }
      }
      &.btn-done {
        color: #ffb94a;
        &:hover {
          border-color: #ffb94a;
        }
      }
    }
  }
}

.user {
  .user--info {
    .user--info-name {
      color: #3d3d3d;
      font-size: 16px;
      font-weight: bold;
    }
    .user--info-mail {
      color: #7e7e7e;
      font-size: 14px;
    }
  }
  .avatar--content {
    border: 1px solid #f7f7f7;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    width: 64px;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    &.avatar--img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &.avatar--default {
      background-color: #f7f7f7;
      color: #ffb94a;
      font-size: 32px;
      font-weight: 600;
      span {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
      }
    }
  }
}

.edit {
  color: #747474;
  font-weight: 600;
}

.edit--status {
  .edit--desc {
    svg {
      color: #ffb94a;
    }
  }
  .status--radio {
    $transition-duration: 0.4s;
    position: relative;
    .radio {
      cursor: pointer;
      height: 20px;
      opacity: 0;
      position: absolute;
      width: 40px;
      z-index: 1;

      + label {
        border: solid 1px;
        border-radius: 20px;
        cursor: pointer;
        display: inline-flex;
        height: 20px;
        position: relative;
        transition: all $transition-duration;
        width: 40px;

        &::after {
          border: solid 1px;
          border-radius: 50%;
          content: "";
          display: block;
          font-weight: 400;
          height: 10px;
          left: 6px;
          position: absolute;
          transition: all $transition-duration;
          top: 4px;
          width: 10px;
          z-index: 11;
        }
      }
      &:checked {
        + label {
          background-color: #ffb94a;
          border-color: #ffb94a !important;
          &::after {
            background-color: #ffffff;
            border-color: #fff !important;
            content: "";
            left: calc(100% - 16px);
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

.edit--account {
  input[type="number"] {
    border: solid 1px #e4e4e4;
    border-radius: 10px;
    color: #444444;
    font-size: 14px;
    height: 40px;
    outline: none;
    text-align: center;
    width: 70px;
    -moz-appearance: textfield; /* Firefox */
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

.edit--type {
  .select--wrapper {
    select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #ffffff;
      border: solid 1px #e4e4e4;
      border-radius: 10px;
      color: #444;
      cursor: pointer;
      font-size: 14px;
      height: 40px;
      line-height: 1.57;
      outline: none;
      padding: 0 16px;
      padding-right: 38px;

      &::-ms-expand {
        display: none;
      }
    }

    &:after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #999;
      content: "";
      height: 0;
      pointer-events: none;
      position: absolute;
      right: 16px;
      transform: translateY(-50%);
      top: 50%;
      width: 0;
    }
  }
}

.edit--time {
  .time--tick-icon {
    color: #747474;
    pointer-events: none;
    right: 10px;
    top: 11px;
    svg {
      color: #999;
    }
  }
}

.edit--time {
  .time--tick {
    border-radius: 10px;
    border: solid 1px #e4e4e4;
    color: #444;
    cursor: pointer;
    font-size: .875rem;
    height: 42px;
    padding: 0;
  }
  .picker-wrap {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: none !important;
    height: auto !important;
    margin-top: 1px !important;
    right: 0;
    width: 283px !important;
  }
  .date-head {
    background-color: #56e8bd !important;
    height: 40px;
    position: relative;
    .btn-prev-year,
    .btn-next-year {
      display: none;
      pointer-events: none;
    }
    .btn-next-date,
    .btn-prev-date {
      background-color: #fff !important;
      border-radius: 50%;
      color: #56e8bd;
      height: 20px;
      line-height: 20px;
      padding: 0;
      text-align: center;
      top: 8px;
      width: 20px;

      &:hover {
        background-color: #fff !important;
      }
    }
    .btn-prev-date {
      left: 10px;
      position: absolute;
    }
    .btn-next-date {
      position: absolute;
      right: 10px;
    }
    .show-year {
      margin-right: 55px;
      position: relative;
      &:before {
        content: "/";
        left: -7px;
        position: absolute;
      }
    }
    .show-month {
      margin-left: 70px;
      margin-right: -10px;
    }
    th:first-child {
      border-top-left-radius: 10px;
    }
    th:nth-child(2) {
      border-top-right-radius: 10px;
    }
  }
  .date-days {
    font-size: 12px !important;
    height: 40px;
    th {
      border: solid 1px rgba(0, 0, 0, 0.03) !important;
      font-weight: normal !important;
    }
  }
  td {
    border: solid 1px rgba(0, 0, 0, 0.03) !important;
    height: 36px !important;
    transition: all 0.5s ease;
    &:hover {
      color: #56e8bd !important;
    }
  }
  .date-active {
    background-color: #56e8bd !important;
    color: #fff !important;
    &:hover {
      color: #fff !important;
    }
  }
}

/*Transition popup*/
.popup-enter-active, .popup-leave-active {
  transition: opacity 1s;
}
.popup-enter, .popup-leave-to {
  opacity: 0;
}
