.post--data {
  font-size: 0.875rem;
  .col {
    &:hover {
      .sort {
        padding: .25rem .5rem;
        svg {
          opacity: 1;
        }
      }
    }
    .active {
      padding: .25rem .5rem !important;
      svg {
        opacity: 1 !important;
      }
    }
    .sort {
      border-radius: .5rem;
      cursor: pointer;
      padding: .25rem 0;
      transition: all .4s ease;
      svg {
        opacity: 0;
        stroke-width: .5;
        stroke: #444;
        transform: scale(1);
        transition: all .4s ease;
        vertical-align: middle;
      }
      .descending {
        transform: rotate(180deg) scale(1);
        margin-top: -5px;
      }
    }
  }
  .col--checkbox {
    height: 20px;
    width: calc(20px + 1rem);
  }
  .col--name {
    width: calc(100% - 35% - 312px - 7rem);
    &-text {
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
    }
  }
  .col--category {
    width: 35%;
    &-text {
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
    }
  }
  .col--image {
    width: calc(237px + 3rem);
  }
  .col--action {
    width: calc(75px + 3rem);
    svg {
      color: #999;
      cursor: pointer;
      transition: all 0.4s ease;
      &:hover {
        color: #ffb94a;
      }
    }
  }
  .data--empty {
    color: #999999;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .item--header {
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #666666;
    height: 48px;
  }
  .item--body {
    min-height: 48px;
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .image--wrap {
    border-radius: 5px;
    overflow: hidden;
    width: 40px;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    &-more,
    img {
      position: absolute;
      width: 100%;
    }
    img {
      height: auto;
      left: 50%;
      max-width: none;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &-more {
      background-color: #e4e4e4;
      color: #999999;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}
.custom--checkbox {
  input[type="checkbox"] {
    border-radius: 6px;
    border: solid 1.5px #cccccc;
    cursor: pointer;
    height: 20px;
    outline: none;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:checked {
      background-color: #ffb94a;
      border: solid 1px #ffb94a;

      &:before {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        content: "";
        display: block;
        height: 10px;
        position: relative;
        left: 50%;
        top: 42%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 7px;
      }
    }
  }
}

// RESPONSIVE
@media only screen and (max-width: 1366px) {
  .post--data {
    .col--name {
      width: calc(70% - 280px - 3rem);
    }
    .col--category {
      width: 30%;
    }
    .col--content {
      display: none;
    }
    .col--image {
      width: calc(205px + 1rem);
      padding: 0 0.5rem !important;
    }
    .col--action {
      width: calc(75px + 1rem);
      padding: 0 0.5rem !important;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .post--data {
    .col--name {
      width: calc(100% - 250px - 2rem);
    }
    .col--category {
      width: 155px;
    }
    .col--image {
      display: none;
    }
  }
}
@media only screen and (max-width: 992px) {
  .post--data {
    .col--name {
      width: calc(100% - 95px - 2rem);
    }
    .col--category {
      display: none !important;
    }
  }
}

// CHANGE BACKGROUND COLOR THEME

//LIGHT
.post--data[data-theme="light"] {
  .col {
    &:hover {
      .sort {
        background-color: #f7f7f7;
        color: #444444;
      }
    }
    .active {
      background-color: #f7f7f7;
      color: #444444;
    }
  }
  .item--header {
    background-color: #fff;
  }
  .item--body {
    background-color: #fafafa;
  }
  .image--wrap-more {
    background-color: #e4e4e4;
    color: #999999;
  }
}

//DARK
.post--data[data-theme="dark"] {
  .col {
    &:hover {
      .sort {
        background-color: #444;
        color: #f7f7f7;
      }
    }
    .active {
      background-color: #444;
      color: #f7f7f7;
    }
  }
  .item--header {
    background-color: #27292d;
    color: #cccccc;
  }
  .item--body {
    background-color: rgba(39, 41, 45, 0.4);
    color: #f7f7f7;
  }
  .image--wrap-more {
    background-color: #2f3136;
    color: #999999;
  }
}
