.filter--product{
  .modal--content {
    display: flex;
    justify-content: flex-end;
    padding: 2px 0;
  }
 
  .select {
    border: 2px solid hsl(0, 0%, 90%);
    border-radius: 4px;
    // overflow: hidden;
  }
  
  .active {
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
  }
  
  .items {
    position: relative;
    background: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 20%);
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-right: 2px solid hsl(0, 0%, 90%);
    font-weight: 700;
    font-size: 12px;
    &.active {
      transition: .4s;
      background: hsl(0, 0%, 20%);
      color: #fff;
      &:hover, &:focus {
        background: hsl(0, 0%, 20%);
        color: #fff;
      }
    }
    ul{
      list-style: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0;
      color: #333;
      z-index: 99;
      box-shadow: 1px 1px 15px rgba(153, 153, 153, 0.4);
    }
    .item--price{
      padding: 5px 0;
      font-size: 0.775rem;
      cursor: pointer;
      transition: 0.4s;
      &:hover{
        color: #fff;
        background: #fdb849;
      }
    }
  }
  
  
  
  .items {
    &:hover, &:focus {
      background: hsl(0, 0%, 95%);
    }
    &:last-of-type {
      border-right: none;
    }
  }

}


//   ******************** RESPONSIVE
 
// @media (min-width: 960px) {
//     .select {
//         display: flex;
//     }
// }
