.modal--wrapper {
  background-color: rgba(153, 153, 153, 0.4);
  bottom: 0;
  font-family: "Open Sans", sans-serif;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  .modal--dialog {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    .modal--content {
      background-color: #fafafa;
      border-radius: .625rem;
      max-height: calc( 100vh - 10% );
      width: 40vw;
      .body {
        input {
          &:hover, &:focus, &:active, &:visited {
            box-shadow: none;
            outline: 0;
            border-color: #e4e4e4;
          }
        }
      }
      .footer {
        button {
          color: #ffffff;
          &:hover, &:focus, &:active, &:visited {
            box-shadow: none;
            outline: 0;
          }
        }
      }
    }
  }
}

/*Transition popup*/
.popup-enter-active, .popup-leave-active {
  transition: opacity 1s;
}
.popup-enter, .popup-leave-to {
  opacity: 0;
}
