.container {
  .top {
    .link {
      color: #444;
      font-size: 0.875rem;
    }
    .title {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
  .form--wrap {
    background-color: #fff;
    border-radius: 0.5rem;
  }
  .form_group {
    label {
      font-size: 0.925rem;
      font-weight: 600;
    }
    input[ type="text" ] {
      border: 1px solid #e4e4e4;
      border-radius: 0.5rem;
      &::placeholder {
        color: #ccc;
      }
    }
    textarea {
      border: 1px solid #e4e4e4;
      border-radius: 0.5rem;
      &::placeholder {
        color: #ccc;
      }
    }
    .option {
      border: 1px solid #e4e4e4;
      border-radius: 0.5rem;
    }
  }
  .btn {
    border-radius: 0.5rem;
    font-size: 0.95rem;
    font-weight: 600;
  }
}
